<!-- home.html -->
{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'eventsapp/css/cards.css' %}"></link>
    <h1>Events app!</h1>
    <h2>Upcoming Events Map</h2>
    <div id="artist-events-map" style="height: 500px;"></div>
    <script>
        window.ARTIST_EVENTS = {{ events_markers_json|safe }};
    </script>
    <h2> Upcoming Events </h2>
    <div class="event-cards">
        {% for event in events %}
            <a href="{% url 'event_detail' event.id %}" class="event-card-link">
                <div class="event-card">
                    <img src="{{ event.image.url }}" alt="{{ event.name }}" class="event-card-image">
                    <h3> {{ event.name }}</h3>
                    <p> {{ event.date }}</p>
                    <p> {{ event.venue.name }}</p>
                    <p> £{{ event.ticket_price }} </p>
                </div>
            </a>
        {% endfor %}
    </div>
    <h2> Featured Venues </h2>
    <div class="venue-cards">
        {% for venue in venues %}
            <a href="{% url 'venue_detail' venue.id %}" class="venue-card-link">
                <div class="venue-card">
                    <img src="{{ venue.image.url }}" alt="{{ venue.name }}" class="venue-card-image">
                    <h3> {{ venue.name }}</h3>
                    <p> {{ venue.get_city }}</p>
                    <p> {{ venue.get_tags }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
    <h2> Featured Artists</h2>
    <div class="artist-cards">
        {% for artist in artists %}
        <a href="{% url 'artist_detail' artist.id %}" class="artist-card-link">
            <div class="artist-card">
                <img src="{{ artist.image.url }}" alt="{{ artist.name }}" class="artist-card-image">
                <h3> {{ artist.name }} </h3>
                <p>{{ artist.get_tags }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'eventsapp/js/artist_map.js' %}"></script>
{% endblock %}